%h1 Enter Employee ID
= form_tag(employee_clock_path)
= text_field_tag "employee", "", { id: "employee" }
= button_tag "Clock In", { class: "clock-in", value: "Clock In" }
= button_tag "Clock Out",  { class: "clock-out", value: "Clock Out"}
