.index
  %h1 Enter Employee ID
  = form_tag(employee_clock_path)
  = text_field_tag "employee", "", { id: "employee" }
  %br
  = button_tag "Clock In", { id: "clock-in", class: "btn", value: "Clock In" }
  = button_tag "Clock Out",  { id: "clock-out", class: "btn", value: "Clock Out"}
